$body-background-color: #181a1b;
$sidebar-color: #1e2122;
$border-color: $grey-dk-200;

$body-text-color: #ada69b;
$body-heading-color: #cecac4;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$code-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);

$content-width: 960px;
$nav-width: 316px;
$nav-width-md: 300px;

pre {
  line-height: 1.2;
}
